<header>About This Project</header>
{% extends "base.html" %}
{% load static %}

</head>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space&+ono" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{% block content %}

<body>

<div class="hello"><a href="{% url "spelling:index" %}"><u>Back to project</u></a></div><br>
<div class="hello" style="width: 90%; margin: auto;">This app connects to the Twitter API and allows you to both find and correct a stranger's spelling error.<br><br>
There is always a chance that my Twitter API access could be revoked if an irritated tweeter complains about having their spelling corrected. Just in case that ever happens, here is a step-by-step 
guide to how this app works. 
<br><br>
<p>
<b>1.</b> For demo purposes, I wrote my own poorly-spelt tweet with a common typo:<br>
<img style="width: 80%;" src="https://i.ibb.co/NSvqjZg/Screenshot-20220322-183046-Twitter.jpg" alt="Screenshot-20220322-183046-Twitter" border="0" /></p>
<p>
<b>2.</b> On the app, choose a typo to search - let's go with 'Realyl':<br>
<img style="width: 80%;" src="https://i.ibb.co/Yc9XzmC/Screenshot-20220725-222535-Samsung-Internet.jpg" alt="Screenshot-20220322-183153-Samsung-Internet" border="0" />
</p>
<p>
<b>3.</b> Choose my tweet from the search results:<br>
<img style="width: 80%;" src="https://i.ibb.co/CQzB3dG/Screenshot-20220322-183159-Samsung-Internet.jpg" alt="Screenshot-20220322-183159-Samsung-Internet" border="0" />
</p>
<p>
<b>4.</b> The pre-written riposte can be seen here. You can't write your own response, because you could simply go on Twitter for that. 
Plus, this way I know that the replies sent from this app won't ever be very offensive!<br>
<img style="width: 80%;" src="https://i.ibb.co/9yXPPW3/Screenshot-20220322-183221-Samsung-Internet.jpg" alt="Screenshot-20220322-183221-Samsung-Internet" border="0" />
</p>
<p><b>5.</b> The reply has been sent! Would you like to see it in the wild?<br>
<img style="width: 80%;" src="https://i.ibb.co/THfr85r/Screenshot-20220322-183244-Samsung-Internet.jpg" alt="Screenshot-20220322-183244-Samsung-Internet" border="0" />
</p>
<p><b>6.</b> There it is! That'll teach me.<br>
<img style="width: 80%;" src="https://i.ibb.co/KNG0t3h/Screenshot-20220322-183309-Samsung-Internet.jpg" alt="Screenshot-20220322-183244-Samsung-Internet" border="0" />

</p>
<p><b>7.</b> Telling the same person off twice are we? Nice try! Thanks to a cookie that I've set, you cannot reply to anyone more than once. 
This aims to keep the complaints to a minimum.<br>
<img style="width: 80%;"  src="https://i.ibb.co/yht1k9r/Screenshot-20220322-183322-Samsung-Internet.jpg" alt="Screenshot-20220322-183322-Samsung-Internet" border="0" />
</p>


</div>

<div class="hello"><a href="{% url "spelling:index" %}"><u>Back to project</u></a></div>

</body>

{% endblock content %}