<header>Twitter Spelling Police</header>
{% extends "base.html" %}
{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space&+ono" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

{% block content %}


<body>


{% block javascript %}
<script type="text/javascript">
function openBox() {
 document.getElementById("boxy").style.display = "block";
 return true;
}
</script>

<script type="text/javascript">
function closeBox() {
 document.getElementById("boxy").style.display = "none";
}
</script>
{% endblock %}



<div class="controls" id="radios">
<!-- Radio buttons for word picking-->
<form action="{% url "spelling:wordpicking" %}" method="POST">{% csrf_token %}
 <div>
  
  
  <div class="leftside"><label>
  {% if wordu == "againts" or wordu == "blanku" %}
   <input type="radio" name="wordpicking" id="againts" value="againts" checked>
  {% else %}
   <input type="radio" name="wordpicking" if="againts" value="againts">
  {% endif %}
  Againts</label></div>
  

  <div class="chooseo"><label>
  {% if wordu == "becasue" %}
   <input type="radio" name="wordpicking" id="becasue" value="becasue" checked>
  {% else %}
   <input type="radio" name="wordpicking" id="becasue" value="becasue">
  {% endif %}
  Becasue</label></div>
  

  <div class="rightside"><label>
  {% if wordu == "thye" %}
   <input type="radio" name="wordpicking" id="thye" value="thye" checked>
  {% else %}
   <input type="radio" name="wordpicking" id="thye" value="thye">
  {% endif %}
  Thye</label></div>
<br>

  <div class="leftside"><label>
  {% if wordu == "thye" %}
   <input type="radio" name="wordpicking" id="thye" value="thye" checked>
  {% else %}
   <input type="radio" name="wordpicking" id="thye" value="thye">
  {% endif %}
  Thye</label></div>
  

  <div class="chooseo"><label>
  {% if wordu == "thye" %}
   <input type="radio" name="wordpicking" id="thye" value="thye" checked>
  {% else %}
   <input type="radio" name="wordpicking" id="thye" value="thye">
  {% endif %}
  Thye</label></div>
  

  <div class="rightside"><label>
  {% if wordu == "thye" %}
   <input type="radio" name="wordpicking" id="thye" value="thye" checked>
  {% else %}
   <input type="radio" name="wordpicking" id="thye" value="thye">
  {% endif %}
  Thye</label></div>
<br>

  
  <input type="submit" value="Submit">
 </div>
</form>
</div>




{% if wordu == "blanku" %}
  <div class="hello">Please select a typo!</div>
{% else %}


<div class="pages">
{% if gus > "1" %}
<a href="{% url "spelling:filtdown" %}" id="prev5">
Prev 5</a>&nbsp;&nbsp;|&nbsp;&nbsp

{% else %} 
{% endif %}

{{ whichp }}

{% if gus < "6" %}
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{% url "spelling:filtup" %}" id="next5">
Next 5 
</a>
{% else %}
{% endif %}
</div>


{% for res in tweets %}

<div class="the_tweets" id="tweet{{ forloop.counter }}" onclick="openBox();">
 <a href="{% url "spelling:index" %}?tweety_id={{ res.tweet_id | urlencode }}
&tweety_text={{ res.tweet_text | urlencode }}
&screen_name={{ res.their_username | urlencode }}&boxo=TRUE" name="{{ res.tweet_id }}">




  <strong><div class="deets-left">@{{ res.their_username }}</div><div class="deets-right"><i>{{ res.tweet_date }}</i></div></strong><!--</div>-->
  <div class="deets-bottom">{{ res.tweet_text }}</div>



 </a>
</div>


{% endfor %}





<div class="controls" id="pages">
{% if gus > "1" %}
 <a href="{% url "spelling:filtdown" %}" id="prev5">
Prev 5</a>&nbsp;&nbsp;|&nbsp;&nbsp;

{% else %}
{% endif %}


{{ whichp }}

{% if gus < "6" %}
&nbsp;&nbsp;|&nbsp;&nbsp;
 <a href="{% url "spelling:filtup" %}" id="next5">
Next 5 
 </a>
{% else %}
{% endif %}


{% endif %}
</div>







{% if boxo == "TRUE" or request.COOKIES.risp == "THANK!" %}
<div id="boxy" style="display: block;">
{% else %}
<div id="boxy" style="display: none;">
{% endif %}


{% if request.COOKIES.risp == "THANK!" %}

<h2>You have sent your Tweet!</h2>
<p><a href="https://twitter.com/{{ request.COOKIES.namey }}/status/{{ request.COOKIES.done }}/" target="#">View it here.</a></p>

<p class="closer"><a href="{% url "spelling:voted_already" %}">Close (x)</a></p>


{% elif request.COOKIES.risp == "STOP!" %}

<h3><i>You have already tweeted!</i></h3>
<p class="closer" id="lastclose"><a href="{% url "spelling:index" %}?boxo=FALSE">Close (x)</a></p>

{% elif request.COOKIES.risp == "START!" %}




<p class="inst">Your Tweet:</p>
<p class="words1"><i>{{ words }}</i></p>
<p class="inst">Replying To:</p>
<p class="words2"><i>{{ the_text }}</i></p>

<p class="inst">Send Reply?</p>
<div id="the_buttons"><a href="{% url "spelling:sending" %}?tweety_id={{ clicked | urlencode }}&boxo=TRUE" name="clicked">Submit</a>  |  
<a href="{% url "spelling:index" %}?boxo=FALSE">Cancel</a></div></p>


{% endif %}
</div>














</body>
{% endblock content %}
