{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "squaresg/style.css" %}">




<form action="" method="post">{% csrf_token %}
 <fieldset>
  <legend><h1>Gases</h1></legend>
   {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
   {% endif %}

    <input type="radio" name="choice" id="1" value="1">
    <label for="choice1">Poink</label><br>

 </fieldset>




<div class="container">
 <form action="" method="POST">
  <fieldset>
   <legend>Form</legend>{%csrf_token%}
    {{ form.as_p }}
    <button type="submit" class="btn-btn-primary" name="addey">Submit</button>
  </fieldset>
 </form>
</div>
