{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "squaresg/style.css" %}">

{% block content %}

<!-- {{ question }}<br />
<p>It is {{ question_id }}!!</p>
<p>The date, you see, is {{ question.pub_date }}.</p>
La Luna.<br /><br />
<a href="{% url 'squaresg:indexu' %}">Back</a> -->

<!-- Vote form -->

<form action="{% url "squaresg:vote" question.id %}" method="post">{% csrf_token %}
 <fieldset>
  <legend><h1>{{ question.question_text }}</h1></legend>
   {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
   {% endif %}

   {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
   {% endfor %}
 <input type="submit" name="votey" value="Vote">
 </fieldset>


</form>

<!-- Add New Choice form -->

<div class="container">
<form action="{% url "squaresg:addy" question.id %}" method="POST">{% csrf_token %}
<fieldset>
<legend><h3>Add New Choice</h3></legend> 
   {{ form.as_p }}
   <input type="submit" name="addey" value="Add Choice">
 </fieldset>
</form>
</div>

<br><br>
<a href="{% url "squaresg:indexu" %}">Back</a>

{% endblock content %}