{% extends "base.html" %}
{% load static %}
<!-- bootstrap CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>



<!--<h1>Helloo!</h1>-->

{% block content %}


<body>

{% block javascript %}
<script type="text/javascript">
function getScore() {
 document.getElementById("scoreBoard").style.display = "block";
}
</script>

<script type="text/javascript">
function hideScore() {
 document.getElementById("scoreBoard").style.display = "none";
}
</script>

<script>
function getSave() {
 document.getElementById("saveScore").style.display = "block";
 document.getElementById("gameOptions").style.display = "none";
}
</script>

<script>
function hideSave() {
 document.getElementById("saveScore").style.display = "none";
}
</script>

{% endblock %}




<div class="missingPiece">
{% block title %}9 Squares Game{% endblock title %}<br>
<a href="{% url "squaresg:index" %}">Home</a> | 
{% if cou == "WIN" %}
 <a href="{% url "squaresg:resetto2" %}">Reset | 
{% else %}
 <a href="{% url "squaresg:resetto" %}">Reset</a> | 
{% endif %}
<a href="#" onclick="getScore();return false;">Leaderboard</a>
</div>

<!--<br>-->

{% if cou == "WIN" %}
 <div class="rowWin">
{% else %}
 <div class="row">
{% endif %}


{% for squ in nine_squares_list %}

 {% if squ in cou %}

  <!--<div class="column"><a href="{% url "squaresg:squares_rand" %}?square_id={{ squ | urlencode }}"><div class="overhov"></div><img src="../static/squaresg/images/{{ squ }}"></a>-->
  <a href="{% url "squaresg:squares_rand" %}?square_id={{ squ | urlencode }}"><span class="numbers"><div class="column"><span class="spu">{{ squ }}</span></div></span></a>
  

 {% else %}

  {% if squ == "blank" %}
   <div class="blanko"></div>
  {% else %}

  <!--<div class="column"><img src="../static/squaresg/images/{{ squ }}">-->
   <span class="numbers2"><div class="column"><span class="spu">{{ squ }}
  </span></div></span>
  {% endif %}
 {% endif %}
{% endfor %}
</div>

<!--<br>-->

{% if cou == "WIN" %}
 <div class="missingPiece">You did it! Number of winning moves: {{ goes }}</div>
 <div class="missingPiece" id="gameOptions">
  <a href="#" onclick="getSave();return false;">Save Score</a> | 
  <!--<a href="{% url "squaresg:resetto2" %}">Play Again</a></div>-->
  <a href="{% url "squaresg:resetto2" %}">Play Again</a></div>
{% else %}
 <div class="missingPiece"><!--Move the numbers into order and win the -->Missing Piece:<br>
<!--<img src="../static/squaresg/images/{{ exceppo }}" id="missingPiece">-->
 <div id="missingPiece"><span class="spu2">{{ exceppo }}</span></div>

</div>

{% endif %}

<div id="scoreBoard">
<div style="width: 100%;float: left; text-align: right;"><a href="#" onclick="hideScore();return false;">(Close)</a></div>
<p id="top10"><b>Top 10 Winners</b></p>
 <div style="padding-bottom: 10px;">
  <div class="scoreLeft" id="full"><strong>Rank/ Name</strong></div>
  <div class="scoreMidL" id="full"><strong>Moves</strong></div>
  <div class="scoreMidR" id="full"><strong>Resets</strong></div>
  <div class="scoreRight" id="full"><strong>Time</strong></div>

 </div>

{% for sk in scores %}
 <div>
 <div class="scoreLeft"><!--<span id="small"><strong>Name:  </strong></span>-->{{ forloop.counter }}: {{ sk.namey|title }}</div>
 <div class="scoreMidL"><span id="small"><strong>Moves: </strong></span>{{ sk.score }}</div>
 <div class="scoreMidR"><span id="small"><strong>Resets: </strong></span>{{ sk.attempts }}</div>
 <div class="scoreRight"><span id="small"><strong>Time: </strong></span>{{ sk.duration }}</div>
</div>
{% endfor %}

<!--<div style="width: 100%;float: left;"><a href="#" onclick="hideScore();return false;">(Close)</a></div>-->
</div>


<!--{% if cou == "WIN" %}

{% else %}
 
{% endif %}-->

<div id="saveScore" class="row" style="text-align: center;" style="display:block;">
<form id="formy" action="{% url "squaresg:scoresyform" %}" method="POST">{% csrf_token %}
 <fieldset>
  {{ form.as_p }}
  <input type="submit" name="saveIt" value="Save & Play Again">
  <input type="button" value = "Cancel" onclick="hideSave()";return false;">
 </fieldset>
</form>
</div>







</body>


{% endblock content %}
