.venvy2/
__pycache__/
db.sqlite3
.env
Venv Setup.txt
spelling/Venv Setup.txt
spelling/Twitter_Deets.txt
spelling/logico/tweepy_practice.py
spelling/logico/tweepy_practice2.py
spelling/logico/tweepy_practiceGITHUB.py