<header>Picnic Location Planner</header>
{% extends "base.html" %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

{% block content %}
<body>

<!--<h1>Picnic Location Planner</div>-->
{% if not request.COOKIES.searched %}
<!--<div class="search_button"><a href="{% url "plp:submity" %}">Search</a></div>-->
<div class="map"><img src="/static/images/uk3.png" /></div>
<!--<br>-->
<!--<div class="stats"><div class="welc">Discover the 5 best and 5 worst places to have a picnic in the UK right now!</div></div>-->
<div class="search_button"><a href="{% url "plp:submity" %}">Search</a></div>

{% else %}

<div class="map" id="pork">
<img src="/static/images/uk3.png" style="margin-top: 0;" id="mappo" />
<img src="/static/images/dotto2.png" id="g1" style="top: {{ g1left }}px; left: {{ g1top }}px;">
<img src="/static/images/dotto2.png" id="g2" style="top: {{ g2left }}px; left: {{ g2top }}px;">
<img src="/static/images/dotto.png" id="g2" style="top: {{ g3left }}px; left: {{ g3top }}px;">
<img src="/static/images/dotto.png" id="g2" style="top: {{ g4left }}px; left: {{ g4top }}px;">

<img src="/static/images/dotto.png" id="g2" style="top: {{ b1left }}px; left: {{ b1top }}px;">
<img src="/static/images/dotto.png" id="g2" style="top: {{ b2left }}px; left: {{ b2top }}px;">
<img src="/static/images/dotto.png" id="g2" style="top: {{ b3left }}px; left: {{ b3top }}px;">
<img src="/static/images/dotto.png" id="g2" style="top: {{ b4left }}px; left: {{ b4top }}px;">

</div>


<div class="stats">
<div class="best">
 <p class="heado"><strong>Best Picnic Locations:</strong></p>

 <!--<div class="heading"><div class="one">Where</div><div class="two">Temp</div>
	<div class="three">Rain</div></div><br>-->
<ol>
<label><b><div class="one">Where</div><div class="two">Air Temp ºC</div><div class="three">Rain (mm)</div></b></label><br>
{% for one, two, three, four in best %}

 <li>
  <div class="one">{{ one }}</div><div class="two">{{ two }}</div>
       <div class="three">{{ three }}</div>
 </li>

{% endfor %}
</ol>
</div>

<div class="worst">
<p class = "heado"><strong>Worst Picnic Locations:</strong></p>

<ol>
<label><b><div class="one">Where</div><div class="two">Air Temp (ºC)</div><div class="three">Rain (mm)</div></label></b><br>
{% for one2, two2, three2, four2 in worst %}


<li>
  <div class="one">{{ one2 }}</div><div class="two">{{ two2 }}</div><div class="three">{{ three2 }}</div>
</li>

{% endfor %}
</ol>
</div>
</div>

{% endif %}

<!--<img src="/static/images/uk3.png"/>-->


<!--<br>
{{ yee }}
<br>
{{ gus }}
<br>-->
<!--{% for poy in poys %}

{{ poy }}<br>

{% endfor %}-->

{% for datum in weather %}
{{ datum }}<br>
{% endfor %}


</body>

{% endblock content %}

