<!-- diary/delete_entry.html -->
{% extends "base.html" %}


{% block content %}


<div class="page_contents">

<b><a style="float: right;" href="{% url "logout" %}">Log Out&nbsp;&nbsp;&nbsp;</a></b><br>


 <form action="" method="POST">{% csrf_token %}
<div class="deleting_detail">
  <div>Are you sure you want to delete this diary entry entitled "{{ entry.title }}"?</div>

  <div class="gap"></div>
   <button class="btn btn-danger ml-2" type="submit">Confirm Delete</button>
   <button><a href="{% url "diary:home" %}">Cancel</a></button> 
</div>
</form>

</div>
{% endblock content %}