<!-- diary/detail_entry.html -->
<header>View Entry</header>
{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="page_contents">

{% if user.is_authenticated %}
 <!--<input type="hidden" name="next" value="{{ request.path }}">
 <a href="{% url "logout" %}">Log Out</a></input>-->

<b><a style="float: right;" href="{% url "logout" %}">Log Out&nbsp;&nbsp;&nbsp;</a></b><br>

{% endif %}

<div class="deleting_detail" style="padding-top: 0; padding-left: 3px; padding-right: 3px;">
 <div style="font-size: 30px;">{{ entry.title }}</div>
 <p>Emailing Date: {{ entry.date_for }}</p>
 <p>For: {{ entry.user }}</p>
 <p>Detail: {{ entry.detail }}</p>
 <p style="font-size: 10px;">(Date Added: {{ entry.created }}) by {{ entry.by }}</p> 
 <p style="font-size: 10px;">(Last Modified: {{ entry.last_modified }}) by {{ entry.mod_by }}</p>

<button><a href="{% url "diary:back_before" %}">Back to main list</a></button>
</div>


<!--{% if user.is_authenticated %}
 Or <button><a href="{% url "diary:delete" entry.pk %}">Delete</a></button>
{% endif %}-->


</div>

{% endblock content %}