<header>Edit Entry</header>
{% extends "base.html" %}

<h1>YULK!</h1>

{% load crispy_forms_tags %}

{% block content %}
<div class="page_contents">

<b><a style="float: right;" href="{% url "logout" %}">Log Out&nbsp;&nbsp;&nbsp;</a></b>
<br>

{% if entry.is_old %}

<strong>{{ entry.date_for }}<br>{{ entry.title }}</strong>
<p>{{ entry.user }}</p>
<p>{{ entry.detail }}</p>
<p style="color:#ee0000;" id="labely"><i>Can't edit diary notes from the past.</i></p>
<button><a href="{% url "diary:home" %}">Cancel</a></button>
<br>

{% else %}

{{ signal }}

<form action="" method="POST" name="ebbo" value = "e">{% csrf_token %}
<div class="form_style">

	<!--{{ form.as_p }}-->
	<span class="labelo">Order: </span><input class="formy" type="text" name="edit_title" value="{{ entry.title }}"><br>
	<!--<span class="labelo">Detail: </span><input class="formy" name="edito_detail" value="{{ entry.detail }}"><br>-->
	<span class="labelo">Detail: </span><textarea class="formy" name="edit_detail" style="margin-left: 0; width: 170px;">{{ entry.detail }}</textarea><br> 
	
	
	<div class="gap"></div>
	<div style="float: left;">User Filter:</div><br>
	<div class="user_contain" style="width: 287px; height: 35px;">
	 {% for the_user in users_list %}
         <div class="user_col" style="width: 87px; height: 15px; float: left;">
	  <label class="labelo3">
	  {% if the_user.0 == selected_user %}
	   <input type="radio" class="input_u" name="edit_user" value="{{ the_user.0 }}" checked>{{ the_user.0 }}</label><br>
		
	  {% else %}
	   <input type="radio" class="input_u" name="edit_user" value="{{ the_user.0 }}">{{ the_user.0 }}</label><br>
	  {% endif %}
	 </div>
	 {% endfor %}</div>

	<div class="gap" style="height: 20px;"></div>

<span class="labelo2">Pick Date: </span>
<input class="formy" type="date" name="edit_date" value="{{ entry.date_for|date:"Y-m-d" }}"><br><br>

<div class="page_contents" style="padding-right: 34px;">
<button class="btn btn-success ml-2" type="submit">Update</button>&nbsp;&nbsp; |&nbsp;&nbsp;   
<button><a href="{% url "diary:home" %}">Cancel</a></button>
</div>
 {% endif %}


</div>
</form>




</div>





{% endblock content %}
