<header>Diary</header>
{% extends "base.html" %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>


{% block content %}

<body>




<div class="page_contents">







{% if user.is_authenticated %}

<!-- FOR EMAIL TESTING - WILL DELETE LATER -->
{% if "sent_signal" in request.COOKIES %}
 <button disabled="disabled">Sent</button>
{% else %}
 <button><a href="{% url "diary:emails" %}">Send</a></button>
{% endif %}

&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url "diary:new" %}">+New Entry</a>

 <!--&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url "diary:set_time" %}">Set Send Time</a>-->

 &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url "logout" %}">Log Out</a>

{% else %}

 &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url "login" %}">Log In</a>

{% endif %}
</div>
<div class="gap"></div>
<div class="page_contents">
Today is {{ today }}
<div class="gap"></div>

<!--{% if saved == "SAVED!" %}
 <p>
  User saved successfully!<br>
 </p>
{% endif %}-->

{% if searchu == "SEARCHING!" or searchu == "EMPTY!" and searchu != "CLEARED!" %}
 {% if word_query != "" %}
  <div>Searching for: {{ word_query }}</div>
 {% endif %}
 {% if user_query != "" %}
  <div>Filtering by user: {{ user_query }}</div>

 {% endif %}
 {% if date_query != "" %}
  <div>Filtering by date: {{ date_query }}</div>
 {% endif %}

<!--<p></p>-->

{% endif %}



{% if "vanisho" not in request.COOKIES %}

 <form action="{% url "diary:searchy" %}" method="POST" name="s" value="s">{% csrf_token %}
 <div class="form_style" style="padding-right: 3px;">
  <label class="labelo2">Search:</label><input style="width: 170px;" type="text" name="term_search"></input>
  <!--<button type="submit">Search</button> Search: --><br>
<div class="gap"></div>
<div style="text-align: left;">User Filter:</div>
<div class="user_contain" style="width: 282px; height: 40px;">
{% for the_user in users_list %}

 <div class="user_col" style="width: 87px; height: 15px; float: left;">
  
 
  
{% comment %}
    {% if user_query == the_user.0 %}
     <input type="radio" class="input_u" name="sort_user", value="{{ query_name }}" checked>
    
     
    {% else %}

     <input type="radio" class="input_u" name="sort_user" value="{{ the_user.0 }}">
{% endcomment %}

 <label for="{{ the_user.0 }}" class="labelo3"><input type="radio" class="input_u" name="sort_user" value="{{ the_user.0 }}">
 {{ the_user.0 }}</label>

  <!--</label>--><br>
 </div>

{% endfor %}
</div>

<div class="gap" style="height: 20px;"></div>

<label class="labelo2">Pick Date:</label>
 <input name="by_date" type="date" id="date_pick">

<br><br>
<div style="padding-right: 31px;">
 <button type="submit"">Search & Filter</button></div>
 <!--<button><a href="{% url "diary:search_all" %}">Search All</a></button>-->
</div>
</form>



<div class="toggleo"><a href="{% url "diary:hideo" %}">HIDE FILTERS</a><br></div>

{% elif "vanisho" in request.COOKIES %}
 {% if "query_d" in request.COOKIES %}
<div class="toggleo" style="padding-top: 9px;"><a href="{% url "diary:hideo" %}">SHOW FILTERS</a></div>
 {% else %}

<div class="toggleo"><a href="{% url "diary:hideo" %}">SHOW FILTERS</a></div>

 {% endif %}

{% endif %}

</div>

	{% if searchu == "SEARCHING!" and searchu != "CLEARED!" %}
<div class="page_contents">

<button style="margin-bottom: 10px;"><a href="{% url "diary:clear_query" %}">Clear</a></button><br>
<!--{{ searchu }}<br>-->
</div>
	{% endif %}


{% if searchu == "SEARCHING!" or searchu == "CLEARED!" or searchu == "USER_ADDED!" %}

<div class="page_contents">


{% for find in object_list %}

{% if find.is_old %}

<div class="entry">
<a href="{% url "diary:detail" find.pk %}">
<strong>{{ find.date_for }}<br>{{ find.title }}</strong><br>
{{ find.detail|truncatechars:25 }}<br>
For: {{ find.user }}</a><br><div class="gap"></div>
 <a href="{% url "diary:detail" find.pk %}">View Entry</a>
{% if user.is_authenticated %}
  |  
 <a href="{% url "diary:delete" find.pk %}">Delete Entry</a>
</div>

{% endif %}

<br><!--<br>-->

{% else %}

<div class="entry">
<a href="{% url "diary:detail" find.pk %}">
<strong><i>{{ find.date_for }}</i><br>{{ find.title }}</strong><br>
{{ find.detail|truncatechars:25 }}<br>
For: {{ find.user }}</a><br><div class="gap"></div>
<a href="{% url "diary:detail" find.pk %}">View Entry</a><br>
{% if user.is_authenticated %}
 <a href="{% url "diary:edit2" find.pk %}">Edit Entry</a>  |  
 <a href="{% url "diary:delete" find.pk %}">Delete Entry</a>
</div>
 
{% endif %}
</div>


<br><!--<br>-->

{% endif %}

{% endfor %}

</div>

{% elif searchu == "EMPTY!" %}

<div class="page_contents">0 diary entries found.<br><br>
<button><a href="{% url "diary:clear_query" %}">Clear</a></button><br><br>
</div>


{% else %}


{% if messages %}
 {% for message in messages %}
 <strong>
 <div style="margin: auto; display: block; text-align: center;">
  {{ message }}
 </strong>
 </div>
 {% endfor %}
{% endif %}
<!--<br>-->

<div class="listo">
{% for entry in object_list %}

{% if entry.is_old %}



{% else %}

<div class="entry">
<a href="{% url "diary:detail" entry.pk %}">
<strong><i>{{ entry.date_for }}</i><br>
{{ entry.title }}</strong><br>
{{ entry.detail|truncatechars:25 }}<br>
For: {{ entry.user }}</a><br><div class="gap"></div>
<a href="{% url "diary:detail" entry.pk %}">View Entry</a><br> 
{% if user.is_authenticated %}
 <a href="{% url "diary:edit2" entry.pk %}">Edit Entry</a>  |  
 <a href="{% url "diary:delete" entry.pk %}">Delete Entry</a>
</div>
<br><!--<br>-->
{% else %}
<br>
{% endif %}



{% endif %}

{% endfor %}


{% endif %}


<div class="page_contents">
 <div class="pagination">
  <span class="step-links">
   {% if object_list.has_previous %}
    <a href="?page=1">&laquo;First</a>
    <a href="?page={{ object_list.previous_page_number }}">Previous</a>
   {% endif %}
    <span class="current">
     Page {{ object_list.number }}  of {{ object_list.paginator.num_pages }}.
    </span>
   {% if object_list.has_next %}
    <a href="?page={{ object_list.next_page_number }}">Next</a>
    <a href="?page={{ object_list.paginator.num_pages }}">Last &raquo;</a>
   {% endif %}
  </span>
 </div>
</div>


<div class="page_contents"><i style="font-size: 14px;">All diary notes emailed daily at 8am</i></div>
</div>

</body>

{% endblock content %}