<header>Diary</header>
{% extends "base.html" %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>


{% block content %}

<body>




<div class="page_contents">

<!-- FOR EMAIL TESTING - WILL DELETE LATER -->
<button><a href="{% url "diary:emails" %}">Send</a></button>



<a href="{% url "diary:new" %}">+New Entry</a>


{% if user.is_authenticated %}

 &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url "diary:set_time" %}">Set Send Time</a>

 &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url "logout" %}">Log Out</a>

{% else %}

 &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url "login" %}">Log In</a>

{% endif %}
</div>
<div class="gap"></div>
<div class="page_contents">
Today is {{ today }}

<!--{% if saved == "SAVED!" %}
 <p>
  User saved successfully!<br>
 </p>
{% endif %}-->

{% if searchu == "SEARCHING!" or searchu == "EMPTY!" and searchu != "CLEARED!" %}
 {% if word_query != "" %}
  <p>Searching for: {{ word_query }}</p>
 {% endif %}
 {% if user_query != "" %}
  <p>Filtering by user: {{ user_query }}</p>

 {% endif %}
 {% if date_query != "" %}
  <p>Filtering by date: {{ date_query }}</p>
 {% endif %}

<!--<p></p>-->

{% endif %}



{% if "vanisho" not in request.COOKIES %}

 <form action="{% url "diary:searchy" %}" method="POST" name="s" value="s">{% csrf_token %}
  <label class="labelo2">Search:</label><input type="text" name="term_search"></input>
  <!--<button type="submit">Search</button> Search: --><br>
<div class="gap"></div>
User Filter:<br>
{% for the_user in users_list %}

  <label class="labelo2">{{ the_user.0 }}</label>

{% comment %}
    {% if user_query == the_user.0 %}
     <input type="radio" name="sort_user", value="{{ query_name }}" checked>
    
     
    {% else %}
{% endcomment %}
     <input type="radio" class="input_d" name="sort_user" value="{{ the_user.0 }}">
  
  <!--</label>--><br>

{% endfor %}

<div class="gap"></div>

<label class="labelo2">Pick Date:</label>
 <input name="by_date" type="date">

<br><br>
 <button type="submit">Search & Filter</button>
 <!--<button><a href="{% url "diary:search_all" %}">Search All</a></button>-->
</form>



<div><a href="{% url "diary:hideo" %}">HIDE FILTERS</a><br><br></div>

{% elif "vanisho" in request.COOKIES %}
 {% if "query_d" in request.COOKIES %}
<div><a href="{% url "diary:hideo" %}">SHOW FILTERS</a><br><br></div>
 {% else %}
<br><br>
<div><a href="{% url "diary:hideo" %}">SHOW FILTER</a></div>
<br>
 {% endif %}

{% endif %}

</div>

	{% if searchu == "SEARCHING!" and searchu != "CLEARED!" %}
<div class="page_contents">

<button><a href="{% url "diary:clear_query" %}">Clear</a></button><br><br>
{{ searchu }}<br>
</div>
	{% endif %}


{% if searchu == "SEARCHING!" or searchu == "CLEARED!" or searchu == "USER_ADDED!" %}

<div class="page_contents">


{% for find in object_list %}

{% if find.is_old %}

<a href="{% url "diary:detail" find.pk %}">
<strong>{{ find.date_for }}<br>{{ find.title }}</strong><br>
{{ find.detail }}<br>
{{ find.user }}</a><br>
 <a href="{% url "diary:detail" find.pk %}">View Entry</a>
{% if user.is_authenticated %}
  |  
 <a href="{% url "diary:delete" find.pk %}">Delete Entry</a>


{% endif %}

<br><br>

{% else %}

<a href="{% url "diary:detail" find.pk %}">
<strong><i>{{ find.date_for }}</i><br>{{ find.title }}</strong><br>
{{ find.detail }}<br>
{{ find.user }}</a><br>
<a href="{% url "diary:detail" find.pk %}">View Entry</a><br>
{% if user.is_authenticated %}
 <a href="{% url "diary:edit2" find.pk %}">Edit Entry</a>  |  
 <a href="{% url "diary:delete" find.pk %}">Delete Entry</a>

 
{% endif %}



<br><br>

{% endif %}

{% endfor %}

</div>

{% elif searchu == "EMPTY!" %}

<div class="page_contents">0 diary entries found.<br><br>
<button><a href="{% url "diary:clear_query" %}">Clear</a></button>
</div>


{% else %}


{% if messages %}
 {% for message in messages %}
 <strong>
 <div style="margin: auto; display: block; text-align: center;">
  {{ message }}
 </strong>
 </div>
 {% endfor %}
{% endif %}
<!--<br>-->

<div class="listo" style="display: block; margin: auto; width: 90%; text-align: center;">
{% for entry in object_list %}

{% if entry.is_old %}



{% else %}

<a href="{% url "diary:detail" entry.pk %}">
<strong><i>{{ entry.date_for }}</i><br>
{{ entry.title }}</strong><br>
{{ entry.detail }}<br>
{{ entry.user }}</a><br>
<a href="{% url "diary:detail" entry.pk %}">View Entry</a><br> 
{% if user.is_authenticated %}
 <a href="{% url "diary:edit2" entry.pk %}">Edit Entry</a>  |  
 <a href="{% url "diary:delete" entry.pk %}">Delete Entry</a>
<br><br>
{% else %}
<br>
{% endif %}



{% endif %}

{% endfor %}


{% endif %}


<div class="page_contents">
 <div class="pagination">
  <span class="step-links">
   {% if object_list.has_previous %}
    <a href="?page=1">&laquo;First</a>
    <a href="?page={{ object_list.previous_page_number }}">Previous</a>
   {% endif %}
    <span class="current">
     Page {{ object_list.number }}  of {{ object_list.paginator.num_pages }}.
    </span>
   {% if object_list.has_next %}
    <a href="?page={{ object_list.next_page_number }}">Next</a>
    <a href="?page={{ object_list.paginator.num_pages }}">Last &raquo;</a>
   {% endif %}
  </span>
 </div>
</div>


</div>

</body>

{% endblock content %}