<header>Calculator 2</header>
{% extends "base.html" %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>

{% block content %}

<div class="calc_swap">
<a href="{% url "calco:first" %}?templ8={{ "1" | urlencode }}" id="swap_links">Calc 1</a>&nbsp;&nbsp;|&nbsp;&nbsp;
Calc 2&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{% url "calco:first" %}?templ8={{ "3" | urlencode }}" id="swap_links">Calc 3</a>
</div>

<div class="calculator2">

<div class="screen-itself2" style="font-size: {{ sizey }};">
	<span class="screen2">
{% if screen == "" %}
	{{ "0" }}
{% elif screen == "0" %}
	{{ "ERROR" }}
{% elif screen == "*" %}
	{{ "x" }}
{% elif screen == "/" %}
	{{ "÷" }}
{% else %}
	{{ screen }}
{% endif %}
	</span>
</div>

		<div class="button-box2">
{% for button in buttons %}


{% if button == "CLEAR" %}

 <a href="{% url "calco:key_process" %}?num_id={{ button | urlencode }}" id="the_buttons2">
	<div class="big-button2">
		{{ button }}</div></a>

{% elif button == "=" %}
 <a href="{% url "calco:key_process" %}?num_id={{ button | urlencode }}" id="the_buttons2">
	<div class="buttony2" id="equals-button2">
	{{ button }}</div></a>
{% else %}
 <a href="{% url "calco:key_process" %}?num_id={{ button | urlencode }}" id="the_buttons2">
	<div class = "buttony2" {% if button == "(" or button == ")" %} style="padding-top: 11px; padding-bottom: 13px;" {% else %}{% endif %}>
       {{ button }}
	</div></a>


 {% endif %}
{% endfor %}
		</div>
</div>

</body>
{% endblock content %}

