<header>Calculator 3</header>
{% extends "base.html" %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

{% block content %}
<body>

<div class="calc_swap">
<a href="{% url "calco:first" %}?templ8={{ "1" | urlencode }}">Calc 1</a>&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{% url "calco:first" %}?templ8={{  "2" | urlencode}}">Calc 2</a>&nbsp;&nbsp;|&nbsp;&nbsp;
Calc 3
</div>

<div class="calculator3">
	<div class="screen-itself3">
		<div class="screen3" style="font-size: 40px;">
{% if screen == "" %}
	{{ "0" }}
{% elif screen == "0" %}
	{{ "ERROR" }}
{% elif screen == "*" %}
	{{ "x" }}
{% elif screen == "/" %}
	{{ "÷" }}
{% else %}
	{{ screen }}
{% endif %}

		</div>
	</div>

 <div class="button-box3">
{% for button in buttons %}

 {% if button == "CLEAR" %}
	<a href="{% url "calco:key_process" %}?num_id={{ button | urlencode }}" id="the_buttons3">
	<div class="big-button3">
	{{ button }}</div></a>
 {% elif button == "=" %}
  <a href="{% url "calco:key_process" %}?num_id={{ button | urlencode }}" id="the_buttons3">
   <div class="buttony3" id="equals-button3">
    {{ button }}
   </div></div></a>

{% else %}
 <a href="{% url "calco:key_process" %}?num_id={{ button | urlencode }}" id="the_buttons3">
  <div class="buttony3" {% if button == "(" or button == ")" %} style="padding-top: 3px; padding-bottom: 5px;" 
  {% elif button == "x" %} style="padding-top: 2px; padding-bottom: 6px;" 
  {% elif button == "÷" %} style="padding-top: 3px; padding-bottom: 5px;" {% else %}{% endif %}>   
    {{ button }}
  </div></a>

 {% endif %}

{% endfor %}
 </div>
</div>
</body>

{% endblock content %}


