<header>Calculator 1</header>
{% extends "base.html" %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>



{% block content %}
<body style="background-color: {{ picked_colour }};">

<form action="colour">{% csrf_token %}
<select name="coloury">
{% for colour in colours_list %}
	<option value="{{ colour.1 }}">{{ colour.0 }}</option>
{% endfor %}
</select>
<input type="submit" value="Select">
</form>

<div>
Calc 1&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{% url "calco:first" %}?templ8={{ "2" | urlencode }}">Calc 2</a>&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{% url "calco:first" %}?templ8={{ "3" | urlencode }}">Calc 3</a></div>

<div class="calculator" style="width: 200px;">
	<div class=""screen-itself; style="width: 100px; text-align: right;">
<span class="screen1" style="font-size: 40px; width: 40px;">
{% if screen == "" %}
	{{ "0" }}
{% elif screen == "0" %}
	{{ "ERROR" }}
{% elif screen == "*" %}
	{{ "x" }}
{% elif screen == "/" %}
	{{ "÷" }}
{% else %}
	{{ screen }}
{% endif %}
	</span>
</div>

 <div class="button-box" style="width: 120px;">
{% for button in buttons %}

  {% if button == "CLEAR" or button == "=" %}
   <a href="{% url "calco:one" %}?num_id={{ button | urlencode }}"><div class="big-button" style="width: 120px; font-size: 20px; float: left;">{{ button }}</div></a>

  {% else %}

 <a href="{% url "calco:one" %}?num_id={{ button | urlencode }}"><div class="buttony" style="width: 30px; font-size: 20px; float: left;">{{ button }}</div></a>
  {% endif %}
{% endfor %}
 </div>
</div>

</body>
{% endblock content %}

