<header>400 Error</header>
{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "squaresg/style.css" %}" >
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>



<!--<h1>Helloo!</h1>-->

{% block content %}


<body>

{% block javascript %}
<script type="text/javascript">
function getScore() {
 document.getElementById("scoreBoard").style.display = "block";
}
</script>

<script type="text/javascript">
function hideScore() {
 document.getElementById("scoreBoard").style.display = "none";
}
</script>

<script>
function getSave() {
 document.getElementById("saveScore").style.display = "block";
 document.getElementById("gameOptions").style.display = "none";
}
</script>

<script>
function hideSave() {
 document.getElementById("saveScore").style.display = "none";
}
</script>

{% endblock %}

<div class="missingPiece">

<div style="font-size: 40px;">Oh no!<br><a href="{% url "squaresg:index" %}">Click here to top 400 bisp reset</a></div>

</div>







{% endblock content %}
